.align{
    text-align: left;
}
.line{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.display-1{
    font-size: 35px;
}
.align{
    text-align: justify;
}
.bg{
    background-image: url(https://images.outlookindia.com/public/uploads/gallery/20191125/Maha-politics_18_20191125_400_600.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
.col-sm-8{
    background-image: url(https://resize.indiatvnews.com/en/resize/newbucket/715_-/2018/12/sushma-swaraj-1543686933.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.p{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color:red;
    text-align: center;
}
.last{
    background-image: url(https://image.shutterstock.com/image-photo/rock-beach-pondicherry-india-260nw-1102357277.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.a{
    font-size: 20px;
}